<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>     
        <title>Sign in</title>
        <link rel="stylesheet" href="../statics/signin.css">
    </head>
    <body>
        <div class="container">
            <h3 class="item">Welcome to iConnects</h3>
            <div class="item" id="buttons">
                <button class="button" id="sign-in">Sign in</button>
                <button class="button" id="sign-up">Sign up</button>
            </div> <br/>
            <input class="item" type="text" placeholder="Email"/> <br/>
            <input class="item" type="password" placeholder="Password"/> <br/>
            <div class="item">
                <label>Type:</label>
                <div id="user_type" class="item">
                    <input type="radio" name="type" value="student" required> <p>Student</p>
                    <input type="radio" name="type" value="teacher" required> <p>Alum</p>
                </div>
            </div> <br/>
            <div class="item" id="checkbox">
                <div>
                    <input type="checkbox" id="remember-me"/>
                    <label for="remember-me">Remember me</label>
                </div>
                <a href="./signup.html">Forgot password?</a>
            </div> <br/>
            <button class="item" id="main">Sign in</button>
        </div>
    </body>
</html>